doctype html
html
  block head-vars
  head
    title #{title}
    meta(name='description', content='#{description}')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
